{% extends "base.html" %}
{% block content %}


<h3> Основные настройки </h3>

<form id="new_test" class="form_to_server" method="post" target="area">


    <input type="hidden" name="test_id" value="{{ test_info.test_id }}">
    <input type="hidden" name="setting_id" value="{{ test_settings.setting_id }}">

    <div class="form-row">
        <div class="input-group flex-nowrap my-sm-2 col-md-6">
            <div class="input-group-prepend">
                <span class="input-group-text" id="test_name">Название теста:</span>
            </div>
            <input type="text" class="form-control" placeholder="Название теста" aria-label="Название теста" aria-describedby="addon-wrapping" name="test_name" value="{{ test_info.name }}">
        </div>

        <div class="input-group flex-nowrap my-sm-2 col-md-6">
            <div class="input-group-prepend">
                <span class="input-group-text" id="target">Путь к Frontol:</span>
            </div>
            <input type="text" class="form-control" placeholder="Путь к Frontol" aria-label="Путь к Frontol" aria-describedby="addon-wrapping" name="target" value="{{ test_settings.target }}">
        </div>
    </div>


    <div class="form-row">
        <div class="input-group flex-nowrap my-sm-2 col-md-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="ip_recipient">IP - Сервиса</span>
            </div>
            <input type="text" class="form-control" placeholder="IP" aria-label="IP" aria-describedby="addon-wrapping" name="ip_recipient" value="{{ test_info.ip_recipient }}">
        </div>

        <div class="input-group flex-nowrap my-sm-2 col-md-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="port_recipient">PORT - Сервиса</span>
            </div>
            <input type="text" class="form-control" placeholder="PORT" aria-label="PORT" aria-describedby="addon-wrapping" name="port_recipient" value="{{ test_info.port_recipient }}">
        </div>

        <div class="input-group flex-nowrap my-sm-2 col-md-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="scaner_port">COM - Сканера</span>
            </div>
            <input type="text" class="form-control" placeholder="COM" aria-label="COM" aria-describedby="addon-wrapping" name="scaner_port" value="{{ test_settings.scaner_port }}">
        </div>

        <div class="input-group flex-nowrap my-sm-2 col-md-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="scaner_boundrate">Скорость</span>
            </div>
            <input type="text" class="form-control" placeholder="Скорость" aria-label="Скорость" aria-describedby="addon-wrapping" name="scaner_boundrate" value="{{ test_settings.scaner_boundrate }}">
        </div>
    </div>


    <div class="form-row">
        <div class="input-group flex-nowrap my-sm-2 col-md-12">
            <div class="input-group-prepend">
                <span class="input-group-text" id="description">Описание</span>
            </div>
            <input type="text" class="form-control" placeholder="Описание" aria-label="Описание" aria-describedby="addon-wrapping" name="description" value="{{ test_info.description }}">
        </div>

    </div>

</form>

<div class="form-row">
    <div class="btn-group my-sm-2 col-md-6" role="group" aria-label="Basic example">
        {% if test_info == {} %}
        <button type="submit" name="document_operation" value="add_settings" class="btn btn-outline-success" form="new_test"> Создать </button>
        {% else %}
        <button type="submit" name="document_operation" value="edit_settings" class="btn btn-outline-secondary" form="new_test"> Обновить </button>
        {% endif %}
    </div>
</div>


{% if test_info != {} %}

<h3> Документы </h3>

<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                {% if doc == {} %}
                <a class="nav-link active" href="test_redactor_new">Новый</a>
                {% else %}
                <a class="nav-link" href="test_redactor_new">Новый</a>
                {% endif %}
            </li>

            {% for i in documents %}
            <li class="nav-item">
                {% if doc.document_id == i.document_id %}
                <a class="nav-link active" href="test_redactor_{{ i.document_id }}">Документ {{ i.check_number }}</a>
                {% else %}
                <a class="nav-link" href="test_redactor_{{ i.document_id }}">Документ {{ i.check_number }}</a>
                {% endif %}
            </li>
            {% endfor %}

        </ul>
    </div>



    <div class="card-body">
        <h5 class="card-title">Создать документ</h5>

        <form id="document" class="form_to_server" method="post" target="area">

        <div class="form-row">
            <div class="input-group flex-nowrap my-sm-2 col-md-6">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="check_number">Номер документа</span>
                </div>

                <input type="text" class="form-control" placeholder="Номер документа" aria-label="Номер документа" aria-describedby="addon-wrapping" name="check_number" value="{{ doc.check_number }}">
            </div>

            <div class="input-group flex-nowrap my-sm-2 col-md-6">
                {% include 'elements/document_type.html' %}
            </div>
        </div>

        <div class="form-row">

            <div class="input-group flex-nowrap my-sm-2 col-md-6">
                {% include 'elements/check_type.html' %}
            </div>

            <div class="input-group flex-nowrap my-sm-2 col-md-6">
                {% include 'elements/report_type.html' %}
            </div>
        </div>

        <div class="form-row">
            <div class="input-group flex-nowrap my-sm-2 col-md-5">
                {% include 'elements/help_setting.html' %}
            </div>

            <div class="input-group flex-nowrap my-sm-2 col-md-5">
                {% include 'elements/type_close.html' %}
            </div>

            <div class="input-group flex-nowrap my-sm-2 col-md-2">
                {% include 'elements/sale.html' %}
            </div>
        </div>

        </form>

        <div class="form-row">

            <div class="btn-group my-sm-2 col-md-6" role="group" aria-label="Control documents">

                {% if doc == {} %}

                <button type="button" name="document_operation" value="add" form="document" class="btn btn-outline-success"> Добавить </button>

                {% else %}

                <button type="submit" name="document_operation" value="edit" form="document" class="btn btn-outline-secondary"> Обновить </button>
                <button type="submit" name="document_operation" value="delete" form="document" class="btn btn-outline-danger"> Удалить </button>

                {% endif %}

            </div>
        </div>
    </div>
</div>

{% endif %}


{% if doc != {} %}

<div class="form-row">
     <div class="container-fluid my-sm-2 col-md-12">
         <h3 class="card-title">Позиции</h3>
         {% include 'elements/positions.html' %}
     </div>
</div>

{% endif %}


{% endblock %}
